body {
    font-family: Arial;
    margin: 20px;
}

textarea {
    width: 300px;
    height: 80px;
}

.comentario {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.fecha {
    font-size: 12px;
    color: gray;
}

button.eliminar {
    margin-top: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}